@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

:root {
  --light-gray: #f1f2f6;
  --font-family: 'Poppins', sans-serif;
}

* {
  padding: 0;
  margin: 0;
}
body {
  background: var(--light-gray);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}
button,
select {
  border: none;
  outline: none;
  cursor: pointer;
}
